@page "/documentgenerator"

<h3>DocumentGenerator</h3>
<a href="/download/families" target="_blank">Generate families document</a>
<a href="/download/articles" target="_blank">Generate articles document</a>

@code {
}